.error{
    padding : 10px;
    border : 1px solid rgba(252, 2, 2, 0.562);
    background-color: rgb(233, 184, 184);
    color:rgba(252, 2, 2, 0.562);
    border-radius: 10px;
    font-size: 1.2rem;
}